*{
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}

.pageContainer {
    background-color: #ccc;
    width: 100%;
    height: 1000px;
    padding: 100px 0 0 200px;
}

.imageDiv {
    width: 300px;
    height: 300px;
    margin-top: 50px;

    img {
        width: 100%;
    }
}