.sidebarContainer {
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.themeContainer {
    overflow-y: auto;
    height: 100vh;
    margin-left: 70px;
    transition: margin-left .3s linear;

    &.full {
        margin-left: 0;
    }
}

.publishStrip {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 90;
    transition: opacity .3s ease-in-out;

    &.hide {
        opacity: 0;
    }

    .publishButton {
        display: inline-block;
        background-color: #000;
        border: 0;
        color: #fff;
        font-size: 15px;
        padding: 11px 20px;
        transition: all .3s linear;
        outline: none;
        margin-left: 20px;

        &:hover {
            background-color: #fff;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
            color: #000;
            cursor: pointer;
        }
    }
}