.sidebarContainer {
    width: 70px;
    height: 100%;
}

.themeContainer {
    overflow-y: auto;
    height: 100vh;
    margin-left: 70px;
    transition: margin-left .3s linear;

    &.full {
        margin-left: 0;
    }
}