.nav {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.centerNav {
    font-size: 30px;
    font-weight: 500;
}

.leftNav li {
    display: inline-block;

    a {
        padding-right: 30px;
    }
}

a {
    font-size: 15px;
    color: #000;
    text-decoration: none;

}

// TODO: place this in the general style
ul {
    margin: 0;
    padding: 0;
}